body{
  background-color: #cfe0e8;
  text-align: center;
}

 nav ul li {
  font-size: 1.4em;
  display: inline-block;
  margin: 10px 10px 10px 10px;
}

nav ul li a {
  color: #667292;
  text-decoration: none;
}

 nav ul li a:hover {
  color: #87bdd8;
}
 section a{
  text-decoration: none;
  color: #22313F;
 }
 section a:hover{
  text-decoration: none;
 }

#welcome-section {
  color: white;
  background-color: #8d9db6;
  top: 0;
  min-height: 55vh;
  height:100vh;
  padding-bottom: 45vh;
  padding-top: 45vh;
  line-height: 100vh;
 
}
#welcome-section p {
  color: #667292;
}
.work {
  background-color: #bccad6;
  padding-top: 107px;
  color: white;
}

.work .project_header {
  color: #667292;
  font-weight: normal;
  margin-top: 25px;
}

.project {
  text-decoration: none;
  color: #bccad6;
  display: inline-block;
  overflow: hidden;
  border: 1px solid #bccad6;
  height: 210px;
  width: 280px;
  margin: 40px 100px;
}

.project-img {
  width: 100%;
  height: 180px;
}

#Contact {
  background: #8d9db6;
  padding: 130px 100px 130px 100px;
  color: white;
}

.profile_detail {
  display: inline-block;
  font-weight: bold;
  margin: 0 35px 45px 35px;
  list-style-type: none;
  border: 2px solid #8d9db6;
  border-radius: 100%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: #cfe0e8;
  color: #667292;
  text-decoration: none;
}

.profile_detail:hover {
  background:  #bccad6;
  color: green;
}

footer {
  padding: 20px;
  background: #22313F;
  color: white;
  line-height: 38px;
}

footer a {
  color: white;
}

@media only screen and (max-width: 367px) {
  .profile_detail{
    border: 2px solid #90C695;
    border-radius: 0;
    width: 90px;
    height: 20px;
    padding: 10px;
    line-height: normal;
  }
}

